.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* background-color: black; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  /* color: black; */
  /* background-color:blue; */
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; }
  font-color: black;

/* #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; } */

      /* .city {
        border: 2px solid #2052b3;
      } */




      /* Image carousel */
      .image-slide {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border: 1px solid white;
        }
      
      
      .image-slide-left { 
        grid-area: 1 / 3 / 13 / 4; 
        /* border: 1px solid black; */
        /* margin-top: 250 px; */
         position:absolute;
        top: 25%;
        left: 500px;
        font-size: 2rem;
        color: black;
        z-index: 10;
        cursor: pointer;
        user-select:none; 
      }
      .image-slide-center { 
        grid-area: 1 / 4 / 13 / 10; 
        
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

      .image-slide-center img {
        width: 500px;
        /* height:50%; */
      }

      .image-slide-right { 
        grid-area: 1 / 10 / 13 / 11; 
        /* border: 1px solid black; */
        /* background-color: red; */
        position:absolute;
        top: 25%;
        right: 500px;
        font-size: 2rem;
        color: black;
        z-index: 10;
        cursor: pointer;
        user-select:none;
        }



      /* .listing-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        }

         .listing-card {
          margin: 5px;
          width: 30%
        }
         */
        div.ui.center.aligned.container{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        div.ui.cards{
          display: flex;
          justify-content: center;
          align-items: center;
          /* margin: 5px; */
          
          /* padding-right: 10px; */
          
           /* width: 100%; */
           /* height: 100px; */
           /* display: table-cell; */
        }

        /* div.ui.three.cards{
          margin:5px;
        } */
        .review-box{
          /* flex: 1; */
          /* background: #aaa; */
          overflow: auto;
          width: 200 px;
          height: 100 px;
        }
        .FilterDropDowns{
          /* display:flex; */
          /* align-items: space-around; */
          border-style: groove;
          margin-left:150px;
          margin-right:150px;
          padding-top: 10px;
          padding-bottom:10px;
        }
.ui.menu{
  background:#032765;
  /* color:black; */
}
a{
  color:#dee2e6;
}
button.ui.button{
  border: 2px solid black;
  border-color: #032765;
  background-color: white;
}

/* .content{
  border-style: groove;

} */
content{
  border-color: #032765;
}
/* img{
  width: 50%;
} */